body {
    box-sizing: content-box;
    margin: 0;

}

img {
    width: 100px;
}

div {
    float: left;
}

table {
    border-radius: 10px;
    border: 1px solid black;
}

td {
    color: cadetblue;
    text-align: center;
    border-bottom: 1px solid black;
}

h3 {
    text-align: left;
    color: black;
}

p {
    text-align: left;
}
l